* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  background-repeat: no-repeat;
}
.container {
  margin-top: 5rem;
  max-width: 60vw;
  height: auto;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.heading {
  text-align: center;
  font-weight:600;
}
.submit-btn{
  margin: 1.5rem;
}
.registration-form {
  width: 60rem;
  margin: auto;
  margin-left: 2rem;
}

@media screen and (max-width:768px) {
  .container{
    margin-bottom: 10rem;
  }
  .form-control,.form-select{
    width:20rem !important;
  }
  .row{
    padding: 0;
  }
  .registration-form{
    margin-left: 0;
    
  }
  
}
@media screen and (max-width:600px) {
 
  .form-control,.form-select{
    width:15rem !important;
  }
  .row{
    padding: 0;
  }
  .registration-form{
    margin-left: 0;

  }
  .container{
    min-width: 90vw;
  }
  body{max-height: 150vh;}

  
}


/*.valid-feedback, .invalid-feedback{
  display: block;
} */
